openapi: 3.0.3
info:
  title: Smartlinks API
  version: "1.0.0"
  description: |
    OpenAPI 3.0 specification for the Smartlinks REST API.
servers:
  - url: https://smartlinks.app/api/v1
tags:
  - name: Collection
    description: Public and admin collection endpoints
  - name: ClaimSet
    description: Claim set management
paths:
  /collections/{collectionId}:
    get:
      tags: [Collection]
      summary: Get a collection by ID
      operationId: getCollection
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Collection found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
        - bearerAuth: []

  /collections/{collectionId}/products/{productId}:
    get:
      tags: [Collection]
      summary: Get a product item by collection and product ID
      operationId: getProductItem
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
        - bearerAuth: []

  /collections/{collectionId}/apps/{appId}/configuration:
    get:
      tags: [Collection]
      summary: Get app configuration by collection and app ID
      operationId: getAppConfiguration
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: appId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: App configuration found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigurationResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
        - bearerAuth: []

  /public/collection/getShortId/{shortId}:
    get:
      tags: [Collection]
      summary: Get collection by shortId
      operationId: getCollectionByShortId
      parameters:
        - name: shortId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Collection found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        '404':
          description: Not found

  /public/collection/{collectionId}/settings/{settingGroup}:
    get:
      tags: [Collection]
      summary: Get a settings group for a collection
      operationId: getCollectionSettingsGroup
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: settingGroup
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Settings returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        '404':
          description: Not found

  /admin/collection/{collectionId}/claimSet/{id}/assignClaims:
    post:
      tags: [ClaimSet]
      summary: Assign claims to codes or ranges
      operationId: assignClaims
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: Claim set id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignClaimsRequest'
      responses:
        '200':
          description: Assignment result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignClaimsResponse'

  /admin/collection/{collectionId}/claimSet/updateClaimData:
    post:
      tags: [ClaimSet]
      summary: Update claim data for provided code/claim references
      operationId: updateClaimData
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClaimDataRequest'
      responses:
        '200':
          description: Update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateClaimDataResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CollectionResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        title:
          type: string
        logoImage:
          type: string
      required: [id, name, title, logoImage]

    ProductResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        heroImage:
          type: string
      required: [id, name, description, heroImage]

    AppConfigurationResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        settings:
          type: object
          additionalProperties: true
      required: [id, name]

    Settings:
      type: object
      description: Arbitrary settings for the specified group
      additionalProperties: true

    ClaimCodeRef:
      type: object
      properties:
        codeId:
          type: string
        claimId:
          type: string
      required: [codeId, claimId]

    UpdateClaimDataRequest:
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
        codes:
          type: array
          items:
            $ref: '#/components/schemas/ClaimCodeRef'
      required: [data, codes]

    UpdateClaimDataResponse:
      type: object
      description: Result of updateClaimData operation
      additionalProperties: true

    AssignClaimsRequest:
      type: object
      properties:
        id:
          type: string
          description: Claim set id
        collectionId:
          type: string
        productId:
          type: string
        batchId:
          type: string
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        codeId:
          type: string
        data:
          type: object
          additionalProperties: true
      required: [id, collectionId, productId]

    AssignClaimsResponse:
      type: object
      description: Result of assignClaims operation
      additionalProperties: trueopenapi: 3.0.3
info:
  title: Smartlinks API
  version: "1.0.0"
  description: |
    OpenAPI 3.0 specification for the Smartlinks REST API.
servers:
  - url: https://smartlinks.app/api/v1
paths:
  /collections/{collectionId}:
    get:
      summary: Get a collection by ID
      operationId: getCollection
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Collection found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
        - bearerAuth: []
  /collections/{collectionId}/products/{productId}:
    get:
      summary: Get a product item by collection and product ID
      operationId: getProductItem
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
        - bearerAuth: []
  /collections/{collectionId}/apps/{appId}/configuration:
    get:
      summary: Get app configuration by collection and app ID
      operationId: getAppConfiguration
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: appId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: App configuration found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigurationResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CollectionResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        title:
          type: string
        logoImage:
          type: string
      required: [id, name, title, logoImage]
    ProductResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        heroImage:
          type: string
      required: [id, name, description, heroImage]
    AppConfigurationResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        settings:
          type: object
          additionalProperties: true
      required: [id, name]
openapi: 3.0.3
info:
  title: Smartlinks API
  version: 0.1.0-draft
  description: >-
    Draft OpenAPI specification generated from available SDK endpoints.
    Replace placeholder schemas and servers as the API stabilizes.
servers:
  - url: /
    description: Relative server (configure base URL in client)
tags:
  - name: Collection
  - name: ClaimSet
paths:
  /public/collection/getShortId/{shortId}:
    get:
      tags: [Collection]
      summary: Get collection by shortId
      parameters:
        - name: shortId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
            description: Collection found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Collection'
        '404':
          description: Not found

  /public/collection/{collectionId}/settings/{settingGroup}:
    get:
      tags: [Collection]
      summary: Get a settings group for a collection
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: settingGroup
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Settings returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        '404':
          description: Not found

  /admin/collection/{collectionId}/claimSet/{id}/assignClaims:
    post:
      tags: [ClaimSet]
      summary: Assign claims to codes or ranges
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: Claim set id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignClaimsRequest'
      responses:
        '200':
          description: Assignment result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignClaimsResponse'

  /admin/collection/{collectionId}/claimSet/updateClaimData:
    post:
      tags: [ClaimSet]
      summary: Update claim data for provided code/claim references
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClaimDataRequest'
      responses:
        '200':
          description: Update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateClaimDataResponse'

components:
  schemas:
    Collection:
      type: object
      description: Collection details (placeholder schema)
      additionalProperties: true

    Settings:
      type: object
      description: Arbitrary settings for the specified group
      additionalProperties: true

    ClaimCodeRef:
      type: object
      properties:
        codeId:
          type: string
        claimId:
          type: string
      required: [codeId, claimId]

    UpdateClaimDataRequest:
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
        codes:
          type: array
          items:
            $ref: '#/components/schemas/ClaimCodeRef'
      required: [data, codes]

    UpdateClaimDataResponse:
      type: object
      description: Result of updateClaimData operation
      additionalProperties: true

    AssignClaimsRequest:
      type: object
      properties:
        id:
          type: string
          description: Claim set id
        collectionId:
          type: string
        productId:
          type: string
        batchId:
          type: string
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        codeId:
          type: string
        data:
          type: object
          additionalProperties: true
      required: [id, collectionId, productId]

    AssignClaimsResponse:
      type: object
      description: Result of assignClaims operation
      additionalProperties: true
