openapi: "3.0.3"
info:
  title: Smartlinks API
  version: "1.0.0"
  description: "REST API for the Smartlinks platform.\n\nAdmin endpoints (`/admin/...`) require a Bearer token via the `Authorization` header.\nPublic endpoints (`/public/...`) are unauthenticated unless otherwise noted.\nAuthKit endpoints (`/authkit/...`) are public.\n\nSet the global `security` to `bearerAuth` and override individual operations with `security: []` for public routes."
servers:
  - url: "https://smartlinks.app/api/v1"
    description: Production
tags:
  - name: responses
  - name: completions
  - name: models
  - name: rag
  - name: sessions
  - name: podcast
  - name: tts
  - name: publicClient
  - name: voice
  - name: userAppData
  - name: cases
  - name: threads
  - name: records
  - name: asset
  - name: async
  - name: attestation
  - name: attestations
  - name: auth
  - name: authKit
  - name: batch
  - name: broadcasts
  - name: collection
  - name: comms
  - name: config
  - name: contact
  - name: containers
  - name: crate
  - name: facets
  - name: form
  - name: interactions
  - name: jobs
  - name: journeys
  - name: journeysAnalytics
  - name: location
  - name: loyalty
  - name: nfc
  - name: order
  - name: product
  - name: products
  - name: proof
  - name: qr
  - name: realtime
  - name: segments
  - name: tags
  - name: template
  - name: translations
  - name: variant
security:
  - bearerAuth: []
paths:
  /admin/auth/requestJWT:
    post:
      tags:
        - auth
      summary: Requests an admin JWT for the current user and a specific collection Returns JWT if valid.
      operationId: auth_requestAdminJWT
      security:
        - bearerAuth: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: string
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection:
    post:
      tags:
        - collection
      summary: Create a new collection (admin only).
      operationId: collection_create
      security:
        - bearerAuth: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionCreateRequest"
  /admin/collection/product/batch/{batchId}:
    get:
      tags:
        - batch
      summary: Get a single batch by ID for a collection and product (admin only).
      operationId: batch_get
      security:
        - bearerAuth: []
      parameters:
        - name: batchId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    put:
      tags:
        - batch
      summary: Update a batch for a collection and product (admin only).
      operationId: batch_update
      security:
        - bearerAuth: []
      parameters:
        - name: batchId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchUpdateRequest"
    delete:
      tags:
        - batch
      summary: Delete a batch for a collection and product (admin only).
      operationId: batch_remove
      security:
        - bearerAuth: []
      parameters:
        - name: batchId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/product/variant/{variantId}:
    get:
      tags:
        - variant
      summary: Get a single variant by ID for a collection and product (admin only).
      operationId: variant_get
      security:
        - bearerAuth: []
      parameters:
        - name: variantId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VariantResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    put:
      tags:
        - variant
      summary: Update a variant for a collection and product (admin only).
      operationId: variant_update
      security:
        - bearerAuth: []
      parameters:
        - name: variantId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VariantResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VariantUpdateRequest"
    delete:
      tags:
        - variant
      summary: Delete a variant for a collection and product (admin only).
      operationId: variant_remove
      security:
        - bearerAuth: []
      parameters:
        - name: variantId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/product/{productId}/batch:
    get:
      tags:
        - batch
      summary: List all batches for a collection and product (admin only).
      operationId: batch_list
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BatchResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - batch
      summary: Create a new batch for a collection and product (admin only).
      operationId: batch_create
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchCreateRequest"
  /admin/collection/product/{productId}/variant:
    get:
      tags:
        - variant
      summary: List all variants for a collection and product (admin only).
      operationId: variant_list
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VariantResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - variant
      summary: Create a new variant for a collection and product (admin only).
      operationId: variant_create
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VariantResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VariantCreateRequest"
  /admin/collection/{collectionId}:
    put:
      tags:
        - collection
      summary: Update a collection (admin only).
      operationId: collection_update
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionUpdateRequest"
    delete:
      tags:
        - collection
      summary: Delete a collection (admin only).
      operationId: collection_remove
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/ai/configureAssistant:
    post:
      tags:
        - rag
      summary: Configure AI assistant behavior
      operationId: rag_configureAssistant
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigureAssistantResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigureAssistantRequest"
  /admin/collection/{collectionId}/ai/createCache:
    post:
      tags:
        - voice
      summary: Create or warm a cache for AI (admin)
      operationId: voice_createCache
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema: {}
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/ai/generateImage:
    post:
      tags:
        - voice
      summary: Generate an image via AI (admin)
      operationId: voice_generateImage
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema: {}
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AIGenerateImageRequest"
  /admin/collection/{collectionId}/ai/generatePodcast:
    post:
      tags:
        - podcast
      summary: Generate a NotebookLM-style conversational podcast from product documents
      operationId: podcast_generate
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneratePodcastResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeneratePodcastRequest"
  /admin/collection/{collectionId}/ai/indexDocument:
    post:
      tags:
        - rag
      summary: Index a document for RAG
      operationId: rag_indexDocument
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexDocumentResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IndexDocumentRequest"
  /admin/collection/{collectionId}/ai/models:
    get:
      tags:
        - models
      summary: List available AI models
      operationId: models_list
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum:
              - gemini
              - openai
        - name: capability
          in: query
          required: false
          schema:
            type: string
            enum:
              - text
              - vision
              - audio
              - code
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AIModelListResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/ai/models/{modelId}:
    get:
      tags:
        - models
      summary: Get specific model information
      operationId: models_get
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: modelId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AIModel"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/ai/podcast/{podcastId}:
    get:
      tags:
        - podcast
      summary: Get podcast generation status
      operationId: podcast_getStatus
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: podcastId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PodcastStatus"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/ai/searchPhotos:
    post:
      tags:
        - voice
      summary: Search stock photos or similar via AI (admin)
      operationId: voice_searchPhotos
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AISearchPhotosPhoto"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AISearchPhotosRequest"
  /admin/collection/{collectionId}/ai/sessions/stats:
    get:
      tags:
        - sessions
      summary: Get session statistics
      operationId: sessions_stats
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionStatistics"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/ai/tts:
    post:
      tags:
        - tts
      summary: Generate text-to-speech audio
      operationId: tts_generate
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blob"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TTSRequest"
  /admin/collection/{collectionId}/ai/uploadFile:
    post:
      tags:
        - voice
      summary: Upload a file for AI usage (admin).
      operationId: voice_uploadFile
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema: {}
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/ai/v1/chat/completions:
    post:
      tags:
        - completions
      summary: Create a chat completion (streaming or non-streaming)
      operationId: completions_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
  /admin/collection/{collectionId}/ai/v1/responses:
    post:
      tags:
        - responses
      summary: Create a Responses API request (streaming or non-streaming)
      operationId: responses_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsesResult"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResponsesRequest"
  /admin/collection/{collectionId}/assignSN/{codeId}:
    post:
      tags:
        - collection
      summary: Assign a value to a serial number for a collection (admin only).
      operationId: collection_assignSN
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: codeId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema: {}
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/async/jobs:
    post:
      tags:
        - async
      summary: "Enqueue a background job for a collection POST /admin/collection/:collectionId/async/jobs (202)"
      operationId: async_enqueueAsyncJob
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnqueueAsyncJobResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnqueueAsyncJobRequest"
  /admin/collection/{collectionId}/async/jobs/{jobId}:
    get:
      tags:
        - async
      summary: "Get job status by ID (may return 404 if completed/removed) GET /admin/collection/:collectionId/async/jobs/:jobId"
      operationId: async_getAsyncJobStatus
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/attestations:
    get:
      tags:
        - attestations
      summary: List attestations for a subject (admin).
      operationId: attestations_list
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: subjectType
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AttestationSubjectType"
        - name: subjectId
          in: query
          required: false
          schema:
            type: string
        - name: attestationType
          in: query
          required: false
          schema:
            type: string
        - name: recordedAfter
          in: query
          required: false
          schema:
            type: string
        - name: recordedBefore
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: number
        - name: offset
          in: query
          required: false
          schema:
            type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAttestationsResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - attestations
      summary: Create a single attestation (admin).
      operationId: attestations_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attestation"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAttestationInput"
  /admin/collection/{collectionId}/attestations/latest:
    get:
      tags:
        - attestations
      summary: "Latest snapshot — one record per `attestationType` (admin)."
      operationId: attestations_latest
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: subjectType
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AttestationSubjectType"
        - name: subjectId
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestationLatestResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/attestations/summary:
    get:
      tags:
        - attestations
      summary: Time-series summary of attestations (admin).
      operationId: attestations_summary
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: subjectType
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AttestationSubjectType"
        - name: subjectId
          in: query
          required: false
          schema:
            type: string
        - name: attestationType
          in: query
          required: false
          schema:
            type: string
        - name: valueField
          in: query
          required: false
          schema:
            type: string
        - name: groupBy
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AttestationGroupBy"
        - name: recordedAfter
          in: query
          required: false
          schema:
            type: string
        - name: recordedBefore
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestationSummaryResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/attestations/tree-latest:
    get:
      tags:
        - attestations
      summary: Tree latest snapshot — most-recent record per type across a container subtree (admin).
      operationId: attestations_treeLatest
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: subjectId
          in: query
          required: false
          schema:
            type: string
        - name: includeItems
          in: query
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestationTreeLatestResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/attestations/tree-summary:
    get:
      tags:
        - attestations
      summary: Tree time-series summary — aggregates across an entire container subtree (admin).
      operationId: attestations_treeSummary
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: subjectId
          in: query
          required: false
          schema:
            type: string
        - name: attestationType
          in: query
          required: false
          schema:
            type: string
        - name: valueField
          in: query
          required: false
          schema:
            type: string
        - name: groupBy
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AttestationGroupBy"
        - name: recordedAfter
          in: query
          required: false
          schema:
            type: string
        - name: recordedBefore
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: number
        - name: includeItems
          in: query
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestationTreeSummaryResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/attestations/verify:
    get:
      tags:
        - attestations
      summary: "Verify the hash chain for a `(subjectType, subjectId, attestationType)` tuple (admin)."
      operationId: attestations_verify
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: subjectType
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AttestationSubjectType"
        - name: subjectId
          in: query
          required: false
          schema:
            type: string
        - name: attestationType
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChainVerifyResult"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/authKit:
    post:
      tags:
        - authKit
      summary: authKit.create
      operationId: authKit_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthKitConfig"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/authKit/{authKitId}:
    get:
      tags:
        - authKit
      summary: authKit.get
      operationId: authKit_get
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: authKitId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthKitConfig"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    put:
      tags:
        - authKit
      summary: authKit.update
      operationId: authKit_update
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: authKitId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthKitConfig"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    delete:
      tags:
        - authKit
      summary: authKit.remove
      operationId: authKit_remove
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: authKitId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/batch:
    get:
      tags:
        - batch
      summary: batch.searchInCollection
      operationId: batch_searchInCollection
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: productId
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BatchResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/batch/{batchId}:
    get:
      tags:
        - batch
      summary: Find a specific batch by ID across all products in a collection.
      operationId: batch_findInCollection
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: batchId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/batch/{batchId}/tags:
    get:
      tags:
        - batch
      summary: Get all tags/codes assigned to a specific batch.
      operationId: batch_getBatchTags
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: batchId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BatchTag"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/broadcasts:
    get:
      tags:
        - broadcasts
      summary: broadcasts.list
      operationId: broadcasts_list
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: number
        - name: offset
          in: query
          required: false
          schema:
            type: number
        - name: appId
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BroadcastList"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - broadcasts
      summary: broadcasts.create
      operationId: broadcasts_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BroadcastRecord"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BroadcastRecord"
  /admin/collection/{collectionId}/broadcasts/append:
    post:
      tags:
        - broadcasts
      summary: broadcasts.append
      operationId: broadcasts_append
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppendResult"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BroadcastAppendEventBody"
  /admin/collection/{collectionId}/broadcasts/append/bulk:
    post:
      tags:
        - broadcasts
      summary: broadcasts.appendBulk
      operationId: broadcasts_appendBulk
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppendBulkResult"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BroadcastAppendBulkBody"
  /admin/collection/{collectionId}/broadcasts/{id}:
    get:
      tags:
        - broadcasts
      summary: broadcasts.get
      operationId: broadcasts_get
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BroadcastRecord"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - broadcasts
      summary: broadcasts.update
      operationId: broadcasts_update
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BroadcastRecord"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
              enum:
                - id
                - collectionId
                - createdAt
    delete:
      tags:
        - broadcasts
      summary: broadcasts.remove
      operationId: broadcasts_remove
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/broadcasts/{id}/preview:
    post:
      tags:
        - broadcasts
      summary: broadcasts.preview
      operationId: broadcasts_preview
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BroadcastPreviewResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BroadcastPreviewRequest"
  /admin/collection/{collectionId}/broadcasts/{id}/recipients:
    get:
      tags:
        - broadcasts
      summary: broadcasts.recipients
      operationId: broadcasts_recipients
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BroadcastRecipientsResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/broadcasts/{id}/send/manual:
    post:
      tags:
        - broadcasts
      summary: broadcasts.sendManual
      operationId: broadcasts_sendManual
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BroadcastSendManualResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BroadcastSendManualRequest"
  /admin/collection/{collectionId}/broadcasts/{id}/send/test:
    post:
      tags:
        - broadcasts
      summary: broadcasts.sendTest
      operationId: broadcasts_sendTest
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BroadcastSendTestResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BroadcastSendTestRequest"
  /admin/collection/{collectionId}/comm.send:
    post:
      tags:
        - comms
      summary: Send a single transactional message to one contact using a template.
      operationId: comms_sendTransactional
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionalSendResult"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionalSendRequest"
  /admin/collection/{collectionId}/comm.settings:
    get:
      tags:
        - comms
      summary: "Admin: Get current comms settings for a collection."
      operationId: comms_getSettings
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: includeSecret
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - comms
      summary: "Admin: Patch comms settings for a collection."
      operationId: comms_patchSettings
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /admin/collection/{collectionId}/comm/log:
    post:
      tags:
        - comms
      summary: "Logging: Append a single communication event."
      operationId: comms_logCommunicationEvent
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppendResult"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogCommunicationEventBody"
  /admin/collection/{collectionId}/comm/log/bulk:
    post:
      tags:
        - comms
      summary: "Logging: Append many communication events for a list of IDs."
      operationId: comms_logBulkCommunicationEvents
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppendBulkResult"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
              enum:
                - userId
                - contactId
  /admin/collection/{collectionId}/comm/query/by-user:
    post:
      tags:
        - comms
      summary: "Analytics: Query communication events by user or contact."
      operationId: comms_queryByUser
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CommunicationEvent"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommsQueryByUser"
  /admin/collection/{collectionId}/comm/query/recipient-ids:
    post:
      tags:
        - comms
      summary: "Analytics: Recipient IDs for a communication source."
      operationId: comms_queryRecipientIds
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RecipientId"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommsRecipientIdsQuery"
  /admin/collection/{collectionId}/comm/query/recipients/with-action:
    post:
      tags:
        - comms
      summary: "Analytics: Recipients who performed an action, optionally with outcome."
      operationId: comms_queryRecipientsWithAction
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommsRecipientsWithActionQuery"
  /admin/collection/{collectionId}/comm/query/recipients/without-action:
    post:
      tags:
        - comms
      summary: "Analytics: Recipients who did not perform an action."
      operationId: comms_queryRecipientsWithoutAction
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RecipientId"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommsRecipientsWithoutActionQuery"
  /admin/collection/{collectionId}/contacts:
    get:
      tags:
        - contact
      summary: contact.list
      operationId: contact_list
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: string
        - name: offset
          in: query
          required: false
          schema:
            type: string
        - name: includeDeleted
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactListResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - contact
      summary: contact.create
      operationId: contact_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCreateRequest"
  /admin/collection/{collectionId}/contacts/lookup:
    get:
      tags:
        - contact
      summary: contact.lookup
      operationId: contact_lookup
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: phone
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/contacts/upsert:
    post:
      tags:
        - contact
      summary: contact.upsert
      operationId: contact_upsert
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCreateRequest"
  /admin/collection/{collectionId}/contacts/{contactId}:
    get:
      tags:
        - contact
      summary: contact.get
      operationId: contact_get
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: contactId
          in: path
          required: true
          schema:
            type: string
        - name: includeDeleted
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - contact
      summary: contact.update
      operationId: contact_update
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: contactId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUpdateRequest"
    delete:
      tags:
        - contact
      summary: contact.remove
      operationId: contact_remove
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: contactId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/contacts/{contactId}/erase:
    post:
      tags:
        - contact
      summary: contact.erase
      operationId: contact_erase
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: contactId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/containers:
    get:
      tags:
        - containers
      summary: List containers (admin).
      operationId: containers_list
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: containerType
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ContainerStatus"
        - name: ref
          in: query
          required: false
          schema:
            type: string
        - name: parentContainerId
          in: query
          required: false
          schema:
            type: string
        - name: topLevel
          in: query
          required: false
          schema:
            type: boolean
        - name: limit
          in: query
          required: false
          schema:
            type: number
        - name: offset
          in: query
          required: false
          schema:
            type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListContainersResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - containers
      summary: Create a new container (admin).
      operationId: containers_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContainerInput"
  /admin/collection/{collectionId}/containers/find-for-item:
    get:
      tags:
        - containers
      summary: Reverse lookup — find all containers currently holding a specific item (admin).
      operationId: containers_findForItem
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: itemType
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ContainerItemType"
        - name: itemId
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindContainersForItemResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/containers/{containerId}:
    get:
      tags:
        - containers
      summary: Get a single container by ID (admin).
      operationId: containers_get
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: containerId
          in: path
          required: true
          schema:
            type: string
        - name: tree
          in: query
          required: false
          schema:
            type: boolean
        - name: treeDepth
          in: query
          required: false
          schema:
            type: number
        - name: includeContents
          in: query
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - containers
      summary: Partially update a container (admin).
      operationId: containers_update
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: containerId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContainerInput"
  /admin/collection/{collectionId}/containers/{containerId}/items:
    get:
      tags:
        - containers
      summary: List items currently (or historically) inside a container (admin).
      operationId: containers_listItems
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: containerId
          in: path
          required: true
          schema:
            type: string
        - name: history
          in: query
          required: false
          schema:
            type: boolean
        - name: limit
          in: query
          required: false
          schema:
            type: number
        - name: offset
          in: query
          required: false
          schema:
            type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerItemsResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - containers
      summary: Add one or more items to a container (admin).
      operationId: containers_addItems
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: containerId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddContainerItemsResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddContainerItemsInput"
  /admin/collection/{collectionId}/crate:
    get:
      tags:
        - crate
      summary: List crates for a collection with pagination support.
      operationId: crate_list
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: number
        - name: startAfter
          in: query
          required: false
          schema:
            type: string
        - name: includeDeleted
          in: query
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCratesResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - crate
      summary: Create a new crate for a collection (admin only).
      operationId: crate_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCrateResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCrateRequest"
  /admin/collection/{collectionId}/crate/{crateId}:
    get:
      tags:
        - crate
      summary: Get a single crate by ID for a collection (admin only).
      operationId: crate_get
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: crateId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCrateResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    put:
      tags:
        - crate
      summary: Update a crate for a collection (admin only).
      operationId: crate_update
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: crateId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCrateResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCrateRequest"
    delete:
      tags:
        - crate
      summary: Delete a crate for a collection (admin only).
      operationId: crate_remove
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: crateId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCrateResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/facets:
    get:
      tags:
        - facets
      summary: facets.list
      operationId: facets_list
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: includeValues
          in: query
          required: false
          schema:
            type: boolean
        - name: includeDeleted
          in: query
          required: false
          schema:
            type: boolean
        - name: kind
          in: query
          required: false
          schema:
            type: object
            additionalProperties: true
        - name: reserved
          in: query
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetListResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - facets
      summary: facets.create
      operationId: facets_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetDefinition"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacetDefinitionWriteInput"
  /admin/collection/{collectionId}/facets/query:
    post:
      tags:
        - facets
      summary: facets.query
      operationId: facets_query
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetQueryResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacetQueryRequest"
  /admin/collection/{collectionId}/facets/{facetKey}:
    get:
      tags:
        - facets
      summary: facets.get
      operationId: facets_get
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: facetKey
          in: path
          required: true
          schema:
            type: string
        - name: includeValues
          in: query
          required: false
          schema:
            type: boolean
        - name: includeDeleted
          in: query
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetDefinition"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    put:
      tags:
        - facets
      summary: facets.update
      operationId: facets_update
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: facetKey
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetDefinition"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacetDefinitionWriteInput"
    delete:
      tags:
        - facets
      summary: facets.remove
      operationId: facets_remove
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: facetKey
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/facets/{facetKey}/values:
    get:
      tags:
        - facets
      summary: facets.listValues
      operationId: facets_listValues
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: facetKey
          in: path
          required: true
          schema:
            type: string
        - name: includeDeleted
          in: query
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetValueListResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - facets
      summary: facets.createValue
      operationId: facets_createValue
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: facetKey
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetValueResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacetValueWriteInput"
  /admin/collection/{collectionId}/facets/{facetKey}/values/{valueKey}:
    get:
      tags:
        - facets
      summary: facets.getValue
      operationId: facets_getValue
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: facetKey
          in: path
          required: true
          schema:
            type: string
        - name: valueKey
          in: path
          required: true
          schema:
            type: string
        - name: includeDeleted
          in: query
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetValueResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    put:
      tags:
        - facets
      summary: facets.updateValue
      operationId: facets_updateValue
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: facetKey
          in: path
          required: true
          schema:
            type: string
        - name: valueKey
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetValueResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacetValueWriteInput"
    delete:
      tags:
        - facets
      summary: facets.removeValue
      operationId: facets_removeValue
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: facetKey
          in: path
          required: true
          schema:
            type: string
        - name: valueKey
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/form:
    post:
      tags:
        - form
      summary: Create a new form for a collection (admin only).
      operationId: form_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema: {}
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/form/{formId}:
    put:
      tags:
        - form
      summary: Update a form for a collection (admin only).
      operationId: form_update
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: formId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema: {}
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    delete:
      tags:
        - form
      summary: Delete a form for a collection (admin only).
      operationId: form_remove
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: formId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/getSN:
    get:
      tags:
        - collection
      summary: Get serial numbers for a collection (admin only).
      operationId: collection_getSN
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema: {}
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/interactions:
    get:
      tags:
        - interactions
      summary: interactions.list
      operationId: interactions_list
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: appId
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: number
        - name: offset
          in: query
          required: false
          schema:
            type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InteractionTypeList"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - interactions
      summary: interactions.create
      operationId: interactions_create
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InteractionTypeRecord"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInteractionTypeBody"
  /admin/collection/{collectionId}/interactions/aggregate:
    post:
      tags:
        - interactions
      summary: "POST /admin/collection/:collectionId/interactions/aggregate Returns grouped numeric aggregates (sum, avg, min, max, count)."
      operationId: interactions_aggregate
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminInteractionsAggregateResponse"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminInteractionsAggregateRequest"
  /admin/collection/{collectionId}/interactions/counts-by-outcome:
    post:
      tags:
        - interactions
      summary: "POST /admin/collection/:collectionId/interactions/counts-by-outcome Returns array of { outcome, count }."
      operationId: interactions_countsByOutcome
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OutcomeCount"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminInteractionsCountsByOutcomeRequest"
  /admin/collection/{collectionId}/interactions/query:
    post:
      tags:
        - interactions
      summary: "POST /admin/collection/:collectionId/interactions/query Flexible query for interaction events with optional includes."
      operationId: interactions_query
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InteractionEventRow"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminInteractionsQueryRequest"
  /admin/collection/{collectionId}/interactions/{id}:
    get:
      tags:
        - interactions
      summary: interactions.get
      operationId: interactions_get
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InteractionTypeRecord"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - interactions
      summary: interactions.update
      operationId: interactions_update
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InteractionTypeRecord"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInteractionTypeBody"
    delete:
      tags:
        - interactions
      summary: interactions.remove
      operationId: interactions_remove
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/jobs:
    get:
      tags:
        - jobs
      summary: "List visible jobs for a collection GET /admin/collection/:collectionId/jobs"
      operationId: jobs_listJobs
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/JobStatus"
        - name: task
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: number
        - name: offset
          in: query
          required: false
          schema:
            type: number
        - name: from
          in: query
          required: false
          schema:
            type: string
        - name: to
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobsPage"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/jobs/{jobId}:
    get:
      tags:
        - jobs
      summary: "Get a single job GET /admin/collection/:collectionId/jobs/:jobId"
      operationId: jobs_getJob
      security:
        - bearerAuth: []
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not found
  /admin/collection/{collectionId}/journeys:
    get:
      tags:
        - journeys
      summary: journeys.list
      operationId: journeys_list
      security:
[...]
